@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.bar-container {
    height: 25px;
    margin-bottom: 10px;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    background: $light-dark;
    box-shadow: inset 0 -1px 1px $dark-gray;
    border: 1px solid $light-dark;

    .progress {
        position: relative;
        display: block;
        background-image: linear-gradient(to top, $red 0%, $orange 100%);
        box-shadow: inset 0 2px 9px $dark-gray, inset 0 -2px 6px $darker-gray;
        border-radius: 25px;
        height: 25px;
        @include transition-mixin;

        &.over-limit {
            background-image: linear-gradient(to right, $light-pink 0%, $light-blue 100%);
        }
    }

    .value {
        position: absolute;
        top: 13px;
        left: 0;
        right: 0;
        bottom: 0;
        color: $white;
        text-align: center;
    }
}