@import "../../assets/styles/variables";

%box-shadow-shared {
    box-shadow: 0 1px 0 $dark-gray inset, 0 -1px 0 $light-dark inset, 0 4px 0 $light-dark, 0 4px 2px $light-dark;
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        max-width: 500px;
        width: 100%;
    
        .controls {
            display: flex;
            max-width: 500px;
            margin-top: 30px;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-bottom: 5px;
    
            .select {
                cursor: pointer;
                display: inline-block;
                position: relative;
                color: $black;
                height: 40px;
                font-size: $fs-1;
                outline: 0;
                margin: 0px 10px 10px 0px;
                min-width: 150px;
                border-radius: 5px;
                @extend %box-shadow-shared;
            }

            @media screen and (max-width: 460px) {
                .select {
                    width: 100%;
                }
            }

            .control-button {
                text-align:center;
                color: $white;
                outline: 0;
                cursor: pointer;
                flex: 1 1;
                flex-basis: 0;
                font-size: $fs-1;
                padding: 10px;
                margin: 0px 10px 0px 0px;
            
                &.red {
                    border-radius: 5px;
                    background: $light-dark;
                    border: 1px solid $darker-gray;
                    background-image: linear-gradient(to bottom, $dark-gray, $black);
                    @extend %box-shadow-shared;
            
                    &:hover {
                        background: $orange;
                        border: 1px solid $orange;
                        background-image: linear-gradient(to bottom, $red, $orange);
                        box-shadow: 0 1px 0 $dark-gray inset, 0 -1px 0 $darker-gray inset, 0 4px 0 $red, 0 4px 2px $light-dark;
                    }
                }
            }
        }
    }
}