/************* COLOR ************/
$white: #fff;
$light-gray: #fefefe;
$black: #000;
$red: #ff0844;
$orange: #ffb199;
$light-pink: #e0c3fc;
$light-blue: #8ec5fc;
$darker-gray: rgba(255, 255, 255, 0.4); 
$dark-gray: rgba(255, 255, 255, 0.3);
$light-dark: #40444e;

/********* FONT-SIZE ****************/
$fs-1: 16px;